@import "_base/_bits";

#canvas { 
    image-rendering: pixelated; 
}
// .img-overlay {

// }
nav {
    ul {
        margin: 20px;
        list-style-type: none;
        li {
            margin: 20px 10px;
            a {
                display: inline-block;
                &:hover {
                    -moz-transform: translateY(-1px);
                    -ms-transform: translateY(-1px);
                    -o-transform: translateY(-1px);
                    -webkit-transform: translateY(-1px);
                    transform: translateY(-1px);
                    text-shadow: 0px 0px 0px $charcoal;
                    -webkit-text-shadow: 0px 0px 0px $charcoal;
                    -khtml-text-shadow: 0px 0px 0px $charcoal;
                    -moz-text-shadow: 0px 0px 0px $charcoal;
                }
            }
        }
    }
}

form {
    margin: 20px;
    #search-artist, input[type=submit] {
        border-style: none;
        background-color: white;
        margin: 10px 0px;
        display: block;
    }
    #search-artist {
        border-bottom: solid 1px $charcoal;
        &::placeholder {
            color: $charcoal;
        }
    }
    input[type=submit] {
        &:hover {
            @include hover;
        }
    }
}

.home-handler, .artist-handler {
    max-width: 1200px;
    justify-content: center;
    align-items: flex-start;
}
.home-list, .artist-list {
    margin: 20px;
    list-style-type: none;
    li {
        margin: 20px 10px;
        h2, h4 {
            max-width: 450px;
        }
    }
}

img {
    max-width: 450px;
}